# Ignore Auth/dist, Auth/node_modules, Auth/build directories
gitignore
Auth/dist/
Auth/node_modules/
Auth/build/
Auth/.env
Auth/package-lock.json
Business/dist/
Business/node_modules/
Business/build/
Business/.env
Business/package-lock.json
Setting/dist/
Setting/node_modules/
Setting/build/
Setting/.env
Setting/package-lock.json
System/dist/
System/node_modules/
System/build/
System/.env
System/package-lock.json
Userrole/dist/
Userrole/node_modules/
Userrole/build/
Userrole/.env
Userrole/package-lock.json
Warehouse/dist/
Warehouse/node_modules/
Warehouse/build/
Warehouse/.env
Warehouse/package-lock.json
File/dist/
File/node_modules/
File/build/
File/.env
File/package-lock.json
Log/dist/
Log/node_modules/
Log/build/
Log/.env
Log/package-lock.json
Web/node_modules/
Web/build/
Web/.env
Gateway/node_modules
Gateway/dist
Gateway/.env
Gateway/Gateway/node_modules
Gateway/Gateway/dist
release.sh
release-services.sh
release_test.sh
release_test-services.sh
Ftpserver