@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  border-color: transparent;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Lato TR', sans-serif !important;
  border-color: transparent;
}

.ui {
  font-family: 'Lato TR', sans-serif !important;
}

@font-face {
  font-family: 'semantic-icons';
  src: url('/path/to/icons.woff2') format('woff2');
  font-display: swap;
}

.highcharts-credits {
  display: none !important;
}

.apexcharts-zoom-rect {
  fill: rgba(0, 123, 255, 0.3) !important;  /* semi-transparent blue */
  stroke: #007bff !important;
  stroke-width: 2px !important;
  rx: 0 !important;  /* no rounded corners */
  ry: 0 !important;
}
